body { 
    font-family: 'Segoe UI', sans-serif; 
    background: #f0f2f5;
    margin: 0;
    padding: 0;
  }
    /* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #6c5ce7;
  padding: 12.5px 50px;
}
.navbar .logo {
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}
.navbar ul {
  list-style: none;
  display: flex;
  gap: 50px;
}
.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  transition: 0.3s;
}
.navbar ul li a:hover {
  color: #ffeaa7;
}

    main { max-width: 900px; margin: 40px auto; background: white; padding: 30px; border-radius: 12px; box-shadow: 0 6px 15px rgba(0,0,0,0.1); letter-spacing: 1px;}
    h1,h2 { color: #6c5ce7; }
    p, ul { color: #2d3436; line-height: 1.6; }
    ul { padding-left: 20px; }
    a { color: #6c5ce7; }

.quest{
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 170px;
  height: 250px;
}

.footer {
  background-color: #6c5ce7;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #ffeaa7;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.footer p{
  color: white;
}

.footer a:hover,
.footer a:focus {
  color: white;
  outline: none;
}

.footer .footer-content {
  max-width: 900px;
  margin: 0 auto;
}

.footer .social-icons {
  margin-top: 15px;
}

.footer .social-icons a {
  display: inline-block;
  margin: 0 8px;
  font-size: 18px;
  vertical-align: middle;
}

.footer .social-icons img {
height: 40px;
width: 35px;
}
